Pandas

In [13]:
import pandas as pd
import numpy as np

In [14]:
from sklearn.datasets import fetch_openml

# Load Boston housing prices dataset from UCI
boston = fetch_openml(name='boston', version=2)

In [15]:
type(boston)

sklearn.utils._bunch.Bunch

In [16]:
print(boston)

{'data':         CRIM    ZN  INDUS CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0    0.00632  18.0   2.31    0  0.538  6.575  65.2  4.0900    1  296     15.3
1    0.02731   0.0   7.07    0  0.469  6.421  78.9  4.9671    2  242     17.8
2    0.02729   0.0   7.07    0  0.469  7.185  61.1  4.9671    2  242     17.8
3    0.03237   0.0   2.18    0  0.458  6.998  45.8  6.0622    3  222     18.7
4    0.06905   0.0   2.18    0  0.458  7.147  54.2  6.0622    3  222     18.7
..       ...   ...    ...  ...    ...    ...   ...     ...  ...  ...      ...
501  0.06263   0.0  11.93    0  0.573  6.593  69.1  2.4786    1  273     21.0
502  0.04527   0.0  11.93    0  0.573  6.120  76.7  2.2875    1  273     21.0
503  0.06076   0.0  11.93    0  0.573  6.976  91.0  2.1675    1  273     21.0
504  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889    1  273     21.0
505  0.04741   0.0  11.93    0  0.573  6.030  80.8  2.5050    1  273     21.0

          B  LSTAT
0    396.90   4.98
1    396.90   9.14
2    392.83   4.03
3    394.63   2.94
4    396.90   5.33
..      ...    ...
501  391.99   9.67
502  396.90   9.08
503  396.90   5.64
504  393.45   6.48
505  396.90   7.88

[506 rows x 13 columns], 'target': 0      N
1      P
2      N
3      N
4      N
      ..
501    P
502    P
503    N
504    P
505    P
Name: binaryClass, Length: 506, dtype: category
Categories (2, object): ['N', 'P'], 'frame':         CRIM    ZN  INDUS CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0    0.00632  18.0   2.31    0  0.538  6.575  65.2  4.0900    1  296     15.3
1    0.02731   0.0   7.07    0  0.469  6.421  78.9  4.9671    2  242     17.8
2    0.02729   0.0   7.07    0  0.469  7.185  61.1  4.9671    2  242     17.8
3    0.03237   0.0   2.18    0  0.458  6.998  45.8  6.0622    3  222     18.7
4    0.06905   0.0   2.18    0  0.458  7.147  54.2  6.0622    3  222     18.7
..       ...   ...    ...  ...    ...    ...   ...     ...  ...  ...      ...
501  0.06263   0.0  11.93    0  0.573  6.593  69.1  2.4786    1  273     21.0
502  0.04527   0.0  11.93    0  0.573  6.120  76.7  2.2875    1  273     21.0
503  0.06076   0.0  11.93    0  0.573  6.976  91.0  2.1675    1  273     21.0
504  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889    1  273     21.0
505  0.04741   0.0  11.93    0  0.573  6.030  80.8  2.5050    1  273     21.0

          B  LSTAT binaryClass
0    396.90   4.98           N
1    396.90   9.14           P
2    392.83   4.03           N
3    394.63   2.94           N
4    396.90   5.33           N
..      ...    ...         ...
501  391.99   9.67           P
502  396.90   9.08           P
503  396.90   5.64           N
504  393.45   6.48           P
505  396.90   7.88           P

[506 rows x 14 columns], 'categories': None, 'feature_names': ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'], 'target_names': ['binaryClass'], 'DESCR': "**Author**:   \n**Source**: Unknown - Date unknown  \n**Please cite**:   \n\nBinarized version of the original data set (see version 1). It converts the numeric target feature to a two-class nominal target feature by computing the mean and classifying all instances with a lower target value as positive ('P') and all others as negative ('N').\n\nDownloaded from openml.org.", 'details': {'id': '853', 'name': 'boston', 'version': '2', 'description_version': '1', 'format': 'ARFF', 'upload_date': '2014-10-04T14:35:22', 'licence': 'Public', 'url': 'https://api.openml.org/data/v1/download/53387/boston.arff', 'parquet_url': 'https://openml1.win.tue.nl/datasets/0000/0853/dataset_853.pq', 'file_id': '53387', 'default_target_attribute': 'binaryClass', 'tag': ['binarized_regression_problem', 'Chemistry', 'Life Science', 'mythbusting_1', 'study_1', 'study_15', 'study_20', 'study_41', 'study_7'], 'visibility': 'public', 'minio_url': 'https://openml1.win.tue.nl/datasets/0000/0853/dataset_853.pq', 'status': 'active', 'processing_date': '2020-11-20 20:12:25', 'md5_checksum': '2f724d0f3c3ad0c0b71ce65300204fd6'}, 'url': 'https://www.openml.org/d/853'}

In [17]:
# Convert to a Pandas DataFrame
boston_df = pd.DataFrame(boston.data, columns=boston.feature_names)
# boston_df['target'] = boston.target

In [18]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [19]:
diabetes_csv = pd.read_csv('diabetes.csv')
type(diabetes_csv)

pandas.core.frame.DataFrame

In [20]:
diabetes_csv.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [22]:
random_df = pd.DataFrame(np.random.rand(20,10))

In [23]:
random_df.shape

(20, 10)

In [24]:
random_df.info

<bound method DataFrame.info of            0         1         2         3         4         5         6  \
0   0.478433  0.711177  0.195883  0.384874  0.721393  0.271910  0.682476
1   0.526953  0.696094  0.709748  0.518567  0.948202  0.375134  0.139749
2   0.859198  0.868801  0.881482  0.747623  0.606676  0.961968  0.504610
3   0.644153  0.597098  0.236208  0.749220  0.405912  0.018013  0.470511
4   0.210918  0.726773  0.525036  0.181922  0.202689  0.970236  0.855127
5   0.036957  0.373312  0.843143  0.238679  0.239415  0.500617  0.422205
6   0.580099  0.249573  0.633931  0.132484  0.560905  0.703668  0.429247
7   0.688017  0.891172  0.192667  0.593673  0.618781  0.122929  0.748960
8   0.783483  0.926662  0.712139  0.405646  0.846472  0.909000  0.788046
9   0.277675  0.286322  0.322632  0.310525  0.334165  0.437835  0.350393
10  0.436346  0.938070  0.963214  0.291284  0.027226  0.050710  0.245896
11  0.629919  0.273885  0.874398  0.728219  0.524018  0.207495  0.982657
12  0.483464  0.538434  0.747660  0.832641  0.897460  0.376335  0.627575
13  0.310061  0.541729  0.611676  0.992030  0.216542  0.706392  0.099255
14  0.278777  0.189378  0.477979  0.730997  0.423020  0.520966  0.466297
15  0.759327  0.478628  0.695348  0.196615  0.610531  0.127684  0.920959
16  0.652676  0.763001  0.865884  0.997520  0.600399  0.924571  0.982960
17  0.075985  0.089386  0.269735  0.156794  0.648034  0.524475  0.819240
18  0.513110  0.675336  0.920925  0.631883  0.781932  0.657609  0.423644
19  0.302872  0.595375  0.283264  0.266796  0.827123  0.682617  0.297042

           7         8         9
0   0.680414  0.803580  0.093574
1   0.516050  0.481886  0.918438
2   0.390078  0.637186  0.975064
3   0.234371  0.419353  0.416978
4   0.152296  0.481601  0.241939
5   0.359133  0.121382  0.897315
6   0.295495  0.827683  0.095334
7   0.249119  0.829356  0.425018
8   0.301512  0.639947  0.298213
9   0.690128  0.530105  0.339906
10  0.653775  0.986855  0.284182
11  0.729808  0.895260  0.978318
12  0.584345  0.654576  0.294552
13  0.427654  0.356952  0.040350
14  0.668126  0.893887  0.680722
15  0.629300  0.952180  0.082104
16  0.277271  0.601218  0.311910
17  0.396275  0.399677  0.887025
18  0.046550  0.221834  0.372977
19  0.201327  0.194302  0.255775  >

In [25]:
boston_df.info

<bound method DataFrame.info of         CRIM    ZN  INDUS CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0    0.00632  18.0   2.31    0  0.538  6.575  65.2  4.0900    1  296     15.3
1    0.02731   0.0   7.07    0  0.469  6.421  78.9  4.9671    2  242     17.8
2    0.02729   0.0   7.07    0  0.469  7.185  61.1  4.9671    2  242     17.8
3    0.03237   0.0   2.18    0  0.458  6.998  45.8  6.0622    3  222     18.7
4    0.06905   0.0   2.18    0  0.458  7.147  54.2  6.0622    3  222     18.7
..       ...   ...    ...  ...    ...    ...   ...     ...  ...  ...      ...
501  0.06263   0.0  11.93    0  0.573  6.593  69.1  2.4786    1  273     21.0
502  0.04527   0.0  11.93    0  0.573  6.120  76.7  2.2875    1  273     21.0
503  0.06076   0.0  11.93    0  0.573  6.976  91.0  2.1675    1  273     21.0
504  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889    1  273     21.0
505  0.04741   0.0  11.93    0  0.573  6.030  80.8  2.5050    1  273     21.0

          B  LSTAT
0    396.90   4.98
1    396.90   9.14
2    392.83   4.03
3    394.63   2.94
4    396.90   5.33
..      ...    ...
501  391.99   9.67
502  396.90   9.08
503  396.90   5.64
504  393.45   6.48
505  396.90   7.88

[506 rows x 13 columns]>

In [33]:
boston_df.head

<bound method NDFrame.head of         CRIM    ZN  INDUS CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0    0.00632  18.0   2.31    0  0.538  6.575  65.2  4.0900    1  296     15.3
1    0.02731   0.0   7.07    0  0.469  6.421  78.9  4.9671    2  242     17.8
2    0.02729   0.0   7.07    0  0.469  7.185  61.1  4.9671    2  242     17.8
3    0.03237   0.0   2.18    0  0.458  6.998  45.8  6.0622    3  222     18.7
4    0.06905   0.0   2.18    0  0.458  7.147  54.2  6.0622    3  222     18.7
..       ...   ...    ...  ...    ...    ...   ...     ...  ...  ...      ...
501  0.06263   0.0  11.93    0  0.573  6.593  69.1  2.4786    1  273     21.0
502  0.04527   0.0  11.93    0  0.573  6.120  76.7  2.2875    1  273     21.0
503  0.06076   0.0  11.93    0  0.573  6.976  91.0  2.1675    1  273     21.0
504  0.10959   0.0  11.93    0  0.573  6.794  89.3  2.3889    1  273     21.0
505  0.04741   0.0  11.93    0  0.573  6.030  80.8  2.5050    1  273     21.0

          B  LSTAT
0    396.90   4.98
1    396.90   9.14
2    392.83   4.03
3    394.63   2.94
4    396.90   5.33
..      ...    ...
501  391.99   9.67
502  396.90   9.08
503  396.90   5.64
504  393.45   6.48
505  396.90   7.88

[506 rows x 13 columns]>

In [32]:
diabetes_csv.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

This value counts gives no of things under a category
Age 21 : theare are 432 people

In [34]:
diabetes_csv.value_counts('Age')

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
52     8
44     8
50     8
51     8
58     7
54     6
47     6
53     5
60     5
49     5
57     5
48     5
66     4
62     4
63     4
55     4
59     3
56     3
65     3
67     3
61     2
69     2
64     1
68     1
70     1
72     1
81     1
dtype: int64

In [35]:
# Outcome 0 is no diabetes
# Outcome 1 is are having diabetes

In [44]:
diabetes_csv.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [47]:
diabetes_csv.count()
# count no of values

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [49]:
# mean_value = column wise
#min value in each of the col
diabetes_csv.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [50]:
diabetes_csv.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [51]:
boston_df.max()

C:\Users\r555s\AppData\Local\Temp\ipykernel_3916\2329451156.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  boston_df.max()

CRIM        88.9762
ZN         100.0000
INDUS       27.7400
NOX          0.8710
RM           8.7800
AGE        100.0000
DIS         12.1265
RAD         24.0000
TAX        711.0000
PTRATIO     22.0000
B          396.9000
LSTAT       37.9700
dtype: float64

In [53]:
#all statistical dataframes description in one touch
boston_df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [54]:
diabetes_csv.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [55]:
#Manipulating a DataFrame

In [58]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [65]:
# drop function
boston_df.drop(index=0 , axis=0)
# index - row removing number
# if u wanna remove the row axis =0 ; col axis = 1

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [66]:
boston_df.drop(columns='ZN' , axis=1)

,CRIM,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [67]:
boston_df.iloc[2]
# All values entered in a single row

CRIM       0.02729
ZN             0.0
INDUS         7.07
CHAS             0
NOX          0.469
RM           7.185
AGE           61.1
DIS         4.9671
RAD              2
TAX            242
PTRATIO       17.8
B           392.83
LSTAT         4.03
Name: 2, dtype: object

In [75]:
# # locate a column

print(boston_df.iloc[:,0])# first col
print(boston_df.iloc[:1]) # second col
print(boston_df.iloc[:,-1]) # last col

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64
      CRIM    ZN  INDUS CHAS    NOX     RM   AGE   DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31    0  0.538  6.575  65.2  4.09    1  296     15.3

       B  LSTAT
0  396.9   4.98
0      4.98
1      9.14
2      4.03
3      2.94
4      5.33
       ...
501    9.67
502    9.08
503    5.64
504    6.48
505    7.88
Name: LSTAT, Length: 506, dtype: float64

Correlation finds a relation amongst the cols

In [76]:
diabetes_csv.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [77]:
boston_df.corr()

C:\Users\r555s\AppData\Local\Temp\ipykernel_3916\535603391.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  boston_df.corr()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
CRIM,1.000000,-0.200469,0.406583,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621
ZN,-0.200469,1.000000,-0.533828,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995
INDUS,0.406583,-0.533828,1.000000,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800
NOX,0.420972,-0.516604,0.763651,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879
RM,-0.219247,0.311991,-0.391676,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808
AGE,0.352734,-0.569537,0.644779,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339
DIS,-0.379670,0.664408,-0.708027,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996
RAD,0.625505,-0.311948,0.595129,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676
TAX,0.582764,-0.314563,0.720760,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993
PTRATIO,0.289946,-0.391679,0.383248,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044
B,-0.385064,0.175520,-0.356977,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087
LSTAT,0.455621,-0.412995,0.603800,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000